*,
*::before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main-div {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.first-section {
	display: flex;
	justify-content:left;
}